.container {
  padding: 0 1rem;
}

.main {
  transition: 250ms;
  min-height: 75vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site_title div{
  font-size: 8vw;
  border-collapse: collapse;

  display: inline-block;
  vertical-align: bottom;
}

.site_title_main{
  font-weight: bold;
  animation: rainbow-color 10s linear infinite;
}

@keyframes rainbow-color {
  0%{ color: red; }
  20%{ color: yellow; }
  40%{ color: green;}
  60%{ color: cyan; }
  80%{ color: blue;}
  100%{ color: rgb(255, 0, 13);}

}


@mixin form-relation-aspect($set-width) {
  width: $set-width;
  height: 80px;
  
}

.input_text{
  @include form-relation-aspect(250px);

  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;

  padding: 20px;
  padding-bottom: 0;

  text-align: center;
  font-size: 22pt;

  box-shadow: none;

  border-bottom: 2px solid black;

  &:focus{
    outline: none
  }

}

.button_send{
  @include form-relation-aspect(80px);

  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;

  margin: 0 1vw;

  transition: 100ms;

  text-align: center;
  font-size: x-large;

  border: 2px solid black;
  border-radius: 10%;

  cursor: pointer;

  &:hover{
    color: white;
    background-color: black;
  }

}
.button_icon{
  transform: scale(1.4);
}

.button_create{
  @include form-relation-aspect(90%);

  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;

  text-align: center;
  margin: 2% 0;

  transition: 100ms;

  text-align: center;

  border: 2px solid black;

  cursor: pointer;

  &:hover{
    color: white;
    background-color: black;
  }

  & div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10%;
    font-size: x-large;
  }

  & .button_icon{
    display: inline-block;
    vertical-align: middle;
  }

}

.alert{
  transform-origin: top;
  animation: swipe 250ms ease-in forwards, swipe 250ms ease-out 3s forwards reverse;
  position: absolute;
  top: 2%;
}

@keyframes swipe {
  from{
    transform: translateY(-20%);
    opacity: 0;
  }
  to{
    transform: rotateX(0);
    opacity: 1;
  }
}

